@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-color: #ffffff;
	--secondary-color: #545b75;
	--secondary-color-dark: #353845;
	--secondary-color-hover: #454a5f;
	--secondary-color-light: #d6d8e1;
	--disabled-color: #8890a8;
	--danger-color: #924743;
	--danger-color-hover: #6a3136;
	--success-color: #267558;
	--success-color-hover: #1e5e49;
}

@font-face {
	font-family: ProtestRevolution;
	src: url("../../public/assets/fonts/ProtestRevolution-Regular.ttf");
}

* {
	font-family: ProtestRevolution;
}

body {
	margin: 0;
	padding: 0 !important;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	color: var(--primary-color);
	background-color: var(--secondary-color-dark);
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.swal2-container {
	margin: 0 !important;
}

.swal2-modal {
	color: var(--primary-color);
	background-color: var(--secondary-color);
}

.swal2-cancel {
	background-color: var(--danger-color) !important;
}

.swal2-cancel:hover {
	background-color: var(--danger-color-hover);
}

/* NAV LLINKS - NAVBAR */
.nav-header-border {
	border-bottom-width: 4px;
	border-bottom-color: var(--secondary-color);
}
.nav-title {
	font-size: 4.5vw !important;
}
.nav-link {
	padding: 0.5rem;
	font-size: 24px;
	text-decoration: none !important;
	color: var(--primary-color) !important;
}

.nav-link:hover,
.nav-link.active,
.nav-link:active,
.nav-link:focus {
	text-decoration: none !important;
	color: var(--primary-color) !important;
}

.nav-link:hover,
.nav-link.active,
.nav-link:active,
.nav-link:focus {
	padding-bottom: calc(0.5rem - 3px);
	border-bottom: 3px solid var(--primary-color) !important;
}

/* INPUTS & BUTTONS */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	appearance: none;
	-webkit-appearance: none;
}

input::placeholder {
	text-align: center;
}

.app-input {
	text-align: center;
	color: var(--secondary-color);
	border: 1px solid var(--secondary-color);
	background-color: var(--secondary-color-light);
}

.app-btn-primary,
.app-btn-danger,
.app-btn-search,
.app-btn-secondary,
.app-btn-inverted,
.app-btn-disabled {
	text-align: center;
	border-radius: 4px;
	text-decoration: none;
	padding: 8px 12px;
	/* min-width: auto; */
}

.app-btn-icon {
	text-align: center;
	text-decoration: none;
	min-width: auto;
	background-color: transparent;
}

/* PAGINATION BASE CSS */
.pagination-btn {
	padding: 0 6px !important;
	min-width: 32px !important;
}

.app-btn-primary,
.app-btn-danger {
	color: var(--secondary-color) !important;
	background-color: var(--primary-color) !important;
}

.app-btn-secondary {
	color: var(--primary-color) !important;
	background-color: var(--secondary-color) !important;
}

.app-btn-inverted {
	color: var(--primary-color) !important;
	background-color: transparent !important;
}

.app-btn-danger {
	background-color: var(--danger-color) !important;
}

.app-btn-success {
	background-color: var(--success-color) !important;
}

.app-btn-search {
	color: var(--primary-color) !important;
	border-color: var(--primary-color) !important;
	background-color: var(--secondary-color) !important;
}

.app-btn-primary:hover,
.app-btn-primary:focus {
	text-decoration: none;
	background-color: var(--primary-color-hover) !important;
}

.app-btn-inverted:hover,
.app-btn-inverted:focus,
.app-btn-inverted.active {
	text-decoration: none;
	background-color: var(--secondary-color) !important;
}

.app-btn-secondary:hover,
.app-btn-secondary:focus {
	text-decoration: none;
	background-color: var(--secondary-color-hover) !important;
}

.app-btn-danger:hover,
.app-btn-danger:focus {
	text-decoration: none;
	background-color: var(--danger-color-hover) !important;
}

.app-btn-search:hover,
.app-btn-search:focus,
.app-btn-search.Mui-selected {
	text-decoration: none;
	color: var(--secondary-color) !important;
	background-color: var(--primary-color) !important;
}

.app-btn-primary:focus,
.app-btn-danger:focus,
.app-btn-search:focus {
	outline: none !important;
}

.app-icon-btn {
	background-color: none;
}
.app-icon-btn * {
	margin-right: 0 !important;
}
.app-icon-btn:focus,
.app-icon-btn:hover {
	color: white !important;
	background-color: var(--primary-color) !important;
}

.app-icon-btn-danger {
	color: var(--danger-color);
}

.app-icon-btn-danger:focus,
.app-icon-btn-danger:hover {
	color: var(--danger-color-hover);
}

.min-w {
	min-width: 0 !important;
}

.min-h {
	min-height: 0 !important;
}

/* UTILS */

.bg-primary {
	background-color: var(--primary-color);
}

.bg-secondary {
	background-color: var(--secondary-color);
}

.bg-secondary-dark {
	background-color: var(--secondary-color-dark);
}

.text-primary {
	color: var(--primary-color);
}

.text-disabled {
	color: var(--disabled-color);
}

.text-danger {
	color: var(--danger-color);
}
