.player-box {
	border-radius: 15px;
	border: 1px solid;
	border-color: var(--secondary-color-light);
	background-color: var(--secondary-color);
}

.player-box-data {
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}
.player-box-data:hover {
	cursor: pointer;
	background-color: var(--secondary-color-hover);
}

.form-modal {
	border-radius: 20px;
	background-color: var(--secondary-color-hover);
}

.form-modal .app-btn-secondary:hover {
	background-color: var(--secondary-color-dark);
}
